<div class="posts">
    {% unless paginator.posts %}
    <article><section class="post-content"><p>There are no blog posts</p></section></article>
    {% endunless %}
    {% for post in paginator.posts %}
    <div class="post-teaser">
        {% if post.thumbnail %}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
            </a>
        </div>
        {% endif %}

        {% if post.thumbnail-small %}
        <div style="max-width:30%; float:left" >
          <img style="padding:5% 15%; border-radius: 10%; float: left" src="{{ post.thumbnail-small | relative_url }}">
        </div>
        {% else %}
        <div style="max-width:30%; float:left" >
          <img style="padding:5% 15%; border-radius: 10%; float: left" src="assets/img/feature-img/story.jpeg">
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h1>
            {% include blog/post_info.html author=post.author date=post.date %}
          </header>
          {% if site.excerpt or site.theme_settings.excerpt %}
              <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                     {{ post.content | strip_html | truncate: '250' | escape }}
                  {% else %}
                     {{ post.excerpt | strip_html | escape }}
                  {% endif %}
              </div>
          {% endif %}
      </span>
    </div>
    {% endfor %}
</div>

{% include blog/blog_nav.html %}
