.about-container {
  margin: 20px 20px 0 0;
  overflow: auto;
}

.about-img {
  text-align: center;

  @media (min-width: $break) {
    float: left;
    max-width: 40%;
  }

  //Smaller screen
  @media screen and (max-width: $break) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }

  img {
      border-radius: 50%;
      padding:0 15%;
  }
}

.about-caption{
  @media (min-width: $break) {
    display: inline-block;
  }

  //Smaller screen
  @media screen and (max-width: $break) {
    display: none;
  }
}

.about-block {
  @media (min-width: $break) {
    margin-left: 210px;
  }

  //Smaller screen
  @media screen and (max-width: $break) {
    margin-left: 0px;
  }
}

.about-ul{
  max-width:100%;
  float:left;
  text-align:left;
  margin-left: 10px;
}

.about-spacer{
  @media (min-width: $break) {
    line-height:1200%;
  }

  //Smaller screen
  @media screen and (max-width: $break) {
    line-height:1000%;
  }
}

// Background section
.about-bg-container{
    width: 100%;
    overflow: auto;
    vertical-align: middle;
    margin-left: 0;
}

.about-bg-img {
    float: left;
    width: 5%;
    margin: 0px 0px 0 0;

    img {
      display: block;
    }
}

.about-bg-text{
  margin-left: 8%;
}