/* --- Project listing --- */
.projects {
  .project-teaser {
    @extend %padding-project;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: cover;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */

    p a {
      @extend .body-link;
    }

    .project-img {
      vertical-align: middle;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width: $break) {
        height: 200px; /* 250 */
      }

      //Smaller screen
      @media screen and (max-width: $break) {
        height: 100px;
      }

      img {
        width: 100%;
        padding: 0;
        vertical-align: middle;
      }

    }

    .project-img img {
      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s;

      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .excerpt {
    margin-top: 1em;
  }
}

/* --- buttons list --- */
.project-ul {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    font-size: 0.9em;
  }

}
